In [1]:
import pandas as pd
import numpy as np
import math

## 1. Python Basics

In [2]:
# printing hello world
print("Hello World")

Hello World

In [3]:
# variables and data types (int, float, str, bool)
x = 5
y = "My name is Aaditi."
z = 3.2 
print (x,y,z)

5 My name is Aaditi. 3.2

In [4]:
# Basic input/output function
#Str
a = input("Enter your name: ")
print("Hi", a, "!")

Enter your name:  Aaditi

Hi Aaditi !

In [5]:
# int
b = int(input("Enter a number:"))
print("You've entered the number", b)

Enter a number: 2

You've entered the number 2

In [6]:
# float
c = float(input("Enter a decimal number:"))
print("The number is :", c)

Enter a decimal number: 1.2

The number is : 1.2

In [7]:
#bool
d = bool(input("Enter something:"))
print("The result is:", d)

Enter something: bye

The result is: True

In [12]:
# Type casting and conversion
#1.
num = 7
print(type(num))
#2.
a = 4
n = float(a)
print(n)
print(type(n))
#3.
b = "1"
n = int(b)
print(n)
print(type(n))

<class 'int'>
4.0
<class 'float'>
1
<class 'int'>

In [13]:
# operators
#1. Arithmetic operator
m = 12
n = 2

print ("Addition:", m+n)
print ("Subtraction:", m-n)
print ("Multiplication:", m*n)
print ("Division:", m/n)
print ("Floor Divison :", m//n)
print ("Modulus:", m%n)
print("Exponential:", m**n)

Addition: 14
Subtraction: 10
Multiplication: 24
Division: 6.0
Floor Divison : 6
Modulus: 0
Exponential: 144

In [14]:
#2. Comparison 
a = 2
b = 5

print(a > b)
print(a < b)
print(a == b)
print(a != b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

In [15]:
# Logical Operator

In [16]:
p = 10
q = 15

print(f"Does 14 lie between p and q?: {14 > p and 14 < q}")

print(f"Suitable?: {14 < p or 14 < q}")

print(f"Is the condition true?: {not (14 > p and 14 < q)}")

Does 14 lie between p and q?: True
Suitable?: True
Is the condition true?: False

## 2. Control Flow

In [17]:
# if, elif, else statements
num = "A"
if num == "2":
    print("num is 2")

elif num == "3":
    print("letter is 3")

elif num == "1":
    print("letter is 1")

else:
    print("number isn't 1, 2 or 3")

number isn't 1, 2 or 3

In [18]:
# Nested conditions
age = 19
member = True

if age > 18:
    if member:
        print("The person is an Adult.")
    else:
        print("The person is a minor.")
else:
    print("The person is a minor.")

The person is an Adult.

In [19]:
i = -1; 
if i != 0:
    if i > 0:
        print("Positive")
    if i < 0:
        print("Negative")
else:
    print("Zero")

Negative

In [20]:
# Boolean logic
age = 14
ticket = True

# Using AND
if age >= 13 and ticket:
    print("You can enter the theater.")
else:
    print("You cannot enter the theater.")

# Using OR
if age >= 18 or ticket:
    print("You may be allowed in (with adult or pass).")

# Using NOT
if not ticket:
    print("You need a ticket to enter.")
else:
    print("Thanks for having your ticket!")

You can enter the theater.
You may be allowed in (with adult or pass).
Thanks for having your ticket!

## 3. Loops

In [21]:
# for loop
for i in range(1, 10):
    print(f"Number: {i}")

Number: 1
Number: 2
Number: 3
Number: 4
Number: 5
Number: 6
Number: 7
Number: 8
Number: 9

In [22]:
# while loop
i = 1
while i <= 10:
    print(f"Number: {i}")
    i += 1

Number: 1
Number: 2
Number: 3
Number: 4
Number: 5
Number: 6
Number: 7
Number: 8
Number: 9
Number: 10

In [23]:
# break 
for i in range(1, 6):
    if i == 2:
        print( i)
        break  
    print(i)

1
2

In [24]:
# continuous
for i in range(1, 6):
    if i == 4:
        print( i)
        continue  
    print(i)

1
2
3
4
5

In [25]:
#pass
for i in range(1, 4):
    if i == 2:
        pass  # placeholder, no action
    print(i)

1
2
3

In [26]:
# Looping with range(), enumerate(), and zip()
# enumerate
name = ["Sam", "Rose", "Nat"]
for i, j in enumerate(name):
    print (i, j)

0 Sam
1 Rose
2 Nat

In [27]:
# zip
names = ['Sam', 'Rose', 'Nat']
scores = [86, 85, 82]

for name, score in zip(names, scores):
    print(f"{name} : {score}")

Sam : 86
Rose : 85
Nat : 82

## 4. Data Structure

In [28]:
# Lists
a = [1,2,3,4,5]
b = ["Adi", "sam", "pandu", "nat"]
c = [1, "hi", 2, True]
print(a)
print(b)
print(c)

[1, 2, 3, 4, 5]
['Adi', 'sam', 'pandu', 'nat']
[1, 'hi', 2, True]

In [29]:
# Tuples
t1 = (1,2,3)
t2 = ("aarav","basu", "suman")
t3 = (t1, t2)
print(t3)

((1, 2, 3), ('aarav', 'basu', 'suman'))

In [30]:
# Dictionary
a = {1: "Aaditi", 2: "Aarav", 3: "Aman"}
print(a)

{1: 'Aaditi', 2: 'Aarav', 3: 'Aman'}

In [31]:
# sets
s = {1,2,3,4}
print(s)

{1, 2, 3, 4}

In [32]:
#comprehensions
#list
a = [x**2 for x in range(1, 5)]
print(a)

[1, 4, 9, 16]

In [33]:
#dict 
b = {x: x**2 for x in range(1, 5)}
print(b)

{1: 1, 2: 4, 3: 9, 4: 16}

In [34]:
#set 
c = {x**2 for x in [1, 2, 2, 3, 3, 4]}
print(c)

{16, 1, 4, 9}

In [35]:
# Baisc Operations
f = ['red', 'blue', 'brown', 'yellow', 'purple']
print(f[1])
print(f[4]) #indexing

blue
purple

In [36]:
print(f[1:5])
print(f[:4]) #slicing

['blue', 'brown', 'yellow', 'purple']
['red', 'blue', 'brown', 'yellow']

In [37]:
f[3] = 'beige'
print(f) #updating

['red', 'blue', 'brown', 'beige', 'purple']

In [38]:
del f[1] #deleting
print(f)

['red', 'brown', 'beige', 'purple']

## 5. Functions

In [39]:
def function():
    print("Hello World!!")

function()

Hello World!!

In [40]:
# Arguments (Default arguments, keyword arguments, positional argument, arbitrary arguments)
def evenOdd(x):
    if (x % 2 == 0):
        return "Even"
    else:
        return "Odd"

print(evenOdd(16))
print(evenOdd(7))

Even
Odd

In [41]:
# Default arguments
def a(x, y=50):
    print("x: ", x)
    print("y: ", y)
a(10)

x:  10
y:  50

In [42]:
# keyword arguments
def s(fname, lname):
    print(fname, lname)

s(fname='Aaditi', lname='Ghimire')
s(lname='Ghimire', fname='Aaditi')

Aaditi Ghimire
Aaditi Ghimire

In [43]:
#positional argument
def n(name, age):
    print("Hi, I am", name)
    print("My age is ", age)

n("Aaditi", 20)

Hi, I am Aaditi
My age is  20

In [44]:
# Arbitrary arguments
# *args and **kwargs
def a(*argv):
    for arg in argv:
        print(arg)
a('Hello', 'Welcome', 'to', 'GeeksforGeeks')

Hello
Welcome
to
GeeksforGeeks

In [45]:
def b(**kwargs):
    for key, value in kwargs.items():
        print("%s == %s" % (key, value))

b(first='Geeks', mid='for', last='Geeks')

first == Geeks
mid == for
last == Geeks

In [46]:
# Lambda Function
even = lambda x: x % 2 == 0
print(even(4))
print(even(7))

True
False

In [47]:
#map
nums = [1, 2, 3, 4]
s = list(map(lambda x: x**2, nums))
print(s)

[1, 4, 9, 16]

In [48]:
#filter
n = [2,3,7,8,10,13]
even_n = list(filter(lambda x: x % 2 == 0, n))
print(even_n)

[2, 8, 10]

In [49]:
# Sorted
s = [('Aditi', 18), ('Rose', 20),('Sam', 19), ('Nat', 17)]
sorted_s = sorted(s, key=lambda x: x[1])  # sort by age
print(sorted_s)

[('Nat', 17), ('Aditi', 18), ('Sam', 19), ('Rose', 20)]

In [50]:
# Scope and global keyword
#local variable and global variabel
name = "Aaditi"

def greet():
    # Local variable 
    name = "Rose"
    print("Inside function:", name)
greet()

# global variable
print("Outside function:", name)

Inside function: Rose
Outside function: Aaditi

## 6.Basic String and File Operations

In [51]:
# Prints today's date with help
import datetime
today = datetime.datetime.today()
print(today.strftime("%B %d, %Y")) # using f-strings
name = "Aaditi"
age = 20
print("My name is {} and I am {} years old.".format(name, age)) # using format

August 05, 2025
My name is Aaditi and I am 20 years old.

In [52]:
with open("example.txt", "w") as file:
    file.write("Hello Adi!\n")
    file.write("This file was written using Python.")

In [53]:
with open("example.txt", "r") as file:
    content = file.read()
    print(content)

Hello Adi!
This file was written using Python.

In [54]:
with open("example.txt", "a") as file:
    file.write("\nThis line is appended at the end.")

In [55]:
with open("example.txt", "r") as file:
    for line in file:
        print(line.strip()) #reading line by line

Hello Adi!
This file was written using Python.
This line is appended at the end.

In [56]:
with open("example.txt", "r+") as file:
    print("Before:", file.read())
    file.write("\nI am an AI/ML intern")

Before: Hello Adi!
This file was written using Python.
This line is appended at the end.

# Intermediate Level

In [58]:
def e(n):
    if n > 18:
        return "Adult"
    else:
        return "Minor"